// ------------------------------ Sizes ----------------------------

$breakpoint-phone: 520px;
$breakpoint-tablet: 940px;





// --------------------------- Colors ---------------------------

$dollar:#02897A;
$lightblue:#4D8DFF;
$darkpink:#740A76;
$darkblue:#22343D;
$blueprimary:#1F2E35;
$bluesecondary:#30444E;
$bluethird:#475E69;
$white50:#E4E9F3;
$white:#FFFFFF;
$tomoto:#F03E3D;

body {
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1192px;
    margin: auto;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-container {
    display: flex;
    align-items: center;
    max-width: max-content;
}

.header-logo-container p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    margin-left: 34px;
    font-size: 30px;
    line-height: 28px;
    color: #173A56;
}

.header-links-container {
    max-width: max-content;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.header-links-container ul li a {
    color: $darkblue;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    margin: 0 12px;
}

.header-links-container .header-links-container-btn {
    border: 1px solid #BCD0E5;
    padding: 10px 25px;
    border-radius: 4px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #173A56;        
    margin: 0 12px;
}

.header-links-container .header-links-container-btn-2 {
    background-color: #02897A;
    padding: 10px 25px;
    border-radius: 4px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $white;        
    margin: 0 12px;
}

.header-links-container .header-links-container-btn:hover {
    background-color: #02897A;
    padding: 10px 25px;
    border-radius: 4px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $white;        
    margin: 0 12px;
}

.hamburger{
    display: none;
}





@media (max-width:$breakpoint-tablet) {
    
    header ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    



}











@media (max-width: $breakpoint-phone) {



    .header-links-container {
        display: none;
    }



    .hamburger {
        display: block;
    }



}
