// ------------------------------ Sizes ---------------------------- //


$breakpoint-phone: 520px;
$breakpoint-tablet: 940px;


// --------------------------- Colors --------------------------- //



$dollar:#02897A;
$lightblue:#4D8DFF;
$darkpink:#740A76;
$darkblue:#22343D;
$blueprimary:#1F2E35;
$bluesecondary:#30444E;
$bluethird:#475E69;
$white50:#E4E9F3;
$white:#FFFFFF;
$tomoto:#F03E3D;



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// ----------------------------------- Hero ------------------------------------ //


.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
    
    .hero-right {
        max-width: 37,5em;
        margin-top: 25px;
        display: block;
    }

    .hero-left {
        align-self: flex-start;
        margin-top: 120px;
        max-width: max-content;
    }

    .hero-left h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        margin: 0;
        color: $darkblue;
    }

    .hero-left p {
        margin: 18px 0 45px 0;
        max-width: 458px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: $darkblue;
    }

    .hero-left-btn {
        border-radius: 4px;
        padding: 15px 41px;
        background-color: $dollar;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: $white;
        outline: none;
        border: none;
    }

    .hero-left a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-decoration-line: underline;
        color: $dollar;
        margin-left: 30.5px;
    }

    .hero-right-media {
        display: none;  
    }


}

// ----------------------------------- Advertising ------------------------------------ //


.advertising {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .advertising-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        margin-top: 114px;
        color: $darkblue;
        max-width: 520px;
    }

    .advertising-bg-img {
        position: absolute;
        z-index: -2;
        bottom: 0%;
        width: 1200px;
    }

    .advertising-btn{
        padding: 15px 33px;
        border: none;
        background: $dollar;
        border-radius: 4px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 90px;
        color: $white;
    }

    .advertising-container {
        margin: 66px 0 60px 0;
        display: flex;
        flex-wrap: wrap;
    }

    .advertising-container-box {
        margin: 0 23px;
        max-width: max-content;

        h3 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
        margin: 30px 0 13px 0;
        color: $darkblue;
        }

        p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: $darkblue;
        max-width: 240px;
        }
    }




}

// ----------------------------------- Management ------------------------------------ //


.management {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;



.management-container {
    display: flex;
    justify-content: space-between;





    .management-left {
        margin-right: 84px;
    
        h4 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 48px;
            color: $darkblue;
        }

        .management-text-1 {
            margin-top: 169px;
        }

        .management-text-3 {
            margin-top: 131px;
        }

        h6 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: $darkblue;
        }
    
        p {
            max-width: 486px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: $darkblue;
        }

    
    }

    .management-right {
        margin-top: 150px;

        .management-right-second {
            display: none;
        }
    }

}
    



}


.process {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 100px;
    overflow-x: hidden;

    .process-box-btn {
        background: #02897A;
        border-radius: 4px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        border: none;
        padding: 15px 30px;
        margin-top: 100px;
        color: #FFFFFF;
    }

    .process-bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .process-title {
        margin: 52px 0 16px 0;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        color: $darkblue;
    }

    .process-text {
        max-width: 542px;
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
    }

    .process-box-container {
        margin-top: 32px;
        display: flex;
        width: 900px;
        justify-content: space-between;
    }

    .process-box-text {
        background: #FFFFFF;
        box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
        border-radius: 26.5px;
        padding: 15px 24px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #2F281E;
    }

    
    .process-box-left {
    
    
    
        .process-box {
           display: flex; 
           align-items: center;
        }

        
        .process-box-second {
            flex-direction: row-reverse;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
    }

    .process-box-right{


        .process-box {
            display: flex; 
            align-items: center;
            flex-direction: row-reverse;
         }

         .process-box-second {
             display: flex;
             align-items: center;
             justify-content: center;
         }
    }


}


.accordion {
    margin-top: 100px;


    .accordion-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 51px;
        color: #22343D;
        margin-bottom: 8px;
    }

    .accordion-text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #22343D;
    }

    .accordion-box-dates {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #22343D;
    }

    .accordion-box-text {
        margin-top: 12px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 40px;
        color: #22343D;
    }

    .accordion-text-container {
        padding: 10px;
    }

    .accordion-box-container {
        justify-content: space-evenly;
        margin-top: 33px;
        display: flex;

        .accordion-box {
            max-width: 348px;
            background: #FFFFFF;
            border-radius: 8px;
            border: 1px solid grey;
            overflow: hidden;
        }


    }



}

.pricing {
    margin-top: 150px;
    text-align: center;


    .pricing-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 51px;
        color: #22343D;
    }

    .pricing-text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #22343D;
    }

    .pricing-box-container {
        justify-content: space-evenly;
        display: flex;
        margin-top: 50px;

        .pricing-box {
            min-height: 456px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background: #FFFFFF;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            min-width: 322px;
            background-color: #ffffff;


            .pricing-box-1 {
                margin-top: 24px;
                margin-bottom: 8px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 40px;
                color: $darkblue;
            }

            .pricing-box-2 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 40px;
                color: #22343D;
            }

            .pricing-box-dollar {
                align-items: center;
                display: flex;
                margin-top: 16px;
            }

            .dollar-text {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 76px;
                line-height: 100px;
                text-align: center;
                letter-spacing: 0.2px;
                color: #02897A;
            } 

            .text-box-1{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 30px;
                letter-spacing: 0.1px;
                color: #02897A;
            }
            
            .text-box-2 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.1px;
                color: #AFAFAF;
            }

            .pricing-box-3 {
                margin-top: 16px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.2px;
                color: #22343D;
            }

            .pricing-box-btn {
                margin-top: 38px;
                font-style: normal;
                font-family: 'Poppins';
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                color: #FFFFFF;
                background: #02897A;
                border-radius: 8px;
                padding: 11px 18px;
                border: none;
            }

        }
    }



}

.workers {
    margin-top: 150px;

    .workers-box-container {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }


    .workers-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 57px;
        letter-spacing: 0.2px;
        color: #22343D;
        text-align: center;
    }

    .workers-text {
        margin-top: 8px;
        margin: auto;
        text-align: center;
        max-width: 537px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.2px;
        color: #22343D;
    }

    .workers-box {
        padding: 20px;
        background: #FFFFFF;
        border: 1px solid #DEDEDE;
        border-radius: 5px;
        max-width: 327px;
        height: 236px;


        .workers-box-text {
            margin-top: 16px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.2px;
            color: #737373;
        }

        .workers-box-inner {
            margin-top: 16px;
            display: flex;
        }

        .workers-inner-box {
            margin-left: 14px;
        }

        .inner-text-1 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.2px;
            color: #02897A;
        }

        .inner-text-2 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.2px;
            color: #252B42;
        }

    }


}

.section-screen-box {
    margin-top: 157px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .screen {
        padding: 50px;
        display: flex;
        border-radius: 32px;
        justify-content: space-evenly;
        background-color: $dollar;
        max-width: 968px;
    
        .screen-left {
    
            .screen-text {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 151.4%;
                color: #FFFFFF;
                max-width: 500px;
            }
    
            .screen-button {
                margin-top: 90px;
                background: #FFFFFF;
                border-radius: 8px;
                padding: 10px 34px;
                border: none;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                color: #02897A;
            }
    
        }
    
    }

}



// ----------------------------------- PHONE ------------------------------------ //




@media (max-width: $breakpoint-phone) {


.hero {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;


        
        .hero-left {
            margin-top: 10px;
            flex-wrap: wrap;
        
        }

        .hero-left p {
            text-align: center;
        }
    
        .hero-right-media {
            margin-top: 30px;
            display: block;  
        }
    
        .hero-right-img {
            display: none;
        }
        .hero-left-btn {
            min-width: 142px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: $white;
            padding: 15px 30px;
        }
        
}


.advertising {

        
    .advertising-title {
        margin: 115px 0 0 0 ;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
    }
    
    .advertising-bg-img  {
        display: none;
    }

    .advertising-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 37px;
        margin-top: 50px;
        
        .advertising-container-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 37px 3px 0 3px;
        }
        
    }

}


.management {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;



.management-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: left;


    .management-left {
        margin-right : 0px;
        padding: 10px;

        .management-text-1 {
            margin-top: 50px;
        }

        .management-text-3 {
            margin-top: 16px;
        }
    
        h4 {
            margin-bottom: 50px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 48px;
            color: $darkblue;
        }
        
        h6 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: $darkblue;
            margin: 0;
        }
    
        p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: $darkblue;
        }



    
    }

    .management-right {
        margin-top: 150px;

        .management-right-second {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .management-right-first {
            display: none;
        }

        .dad {
            display: none;
        }

    }

}
    



}


.process {


    .process-box-container {
        margin-top: 40px;
        flex-direction: column;
    }



    .process-box-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    
    
        .process-box {
            margin-top: 45px;
           display: flex; 
           align-items: center;
        }

        
        .process-box-second {
            margin-top: 45px;
            flex-direction: row-reverse;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
    }

    .process-box-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .process-box {
            margin-top: 45px;
            display: flex; 
            align-items: center;
            flex-direction: row-reverse;
         }

         .process-box-second {
            margin-top: 45px;
             display: flex;
             align-items: center;
             justify-content: center;
         }
    }

}

    
.accordion {

    text-align: center;

    .accordion-title {
        margin-top: 100px;
    }

    .accordion-box-container {
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        margin-top: 33px;
        display: flex;
        text-align: left;

        .accordion-box {
            max-width: 348px;
            background: #FFFFFF;
            border-radius: 8px;
            overflow: hidden;
            margin-top: 56px;

        }


    }



}



.pricing {
    text-align: center;


    .pricing-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 51px;
        color: #22343D;
    }

    .pricing-text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #22343D;
    }

    .pricing-box-container {
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;

        .pricing-box {
            margin-top: 32px;
            min-height: 456px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background: #FFFFFF;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            max-width: 322px;
            background-color: #ffffff;

        }
    }



}


.workers {
    margin-top: 150px;

    .workers-box-container {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .workers-box {
        margin-top: 32px;
        padding: 20px;
        background: #FFFFFF;
        border: 1px solid #DEDEDE;
        border-radius: 5px;
        max-width: 327px;
        height: 236px;

    }


}

.section-screen-box {
    margin-top: 157px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .screen {
        padding: 50px;
        display: flex;
        border-radius: 32px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: max-content;
        background-color: $dollar;
    
        .screen-left {
    
            .screen-text {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 151.4%;
                color: #FFFFFF;
                max-width: 500px;
            }
    
            .screen-button {
                margin-top: 90px;
                background: #FFFFFF;
                border-radius: 8px;
                padding: 10px 34px;
                border: none;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                color: #02897A;
                margin-bottom : 40px;
            }
    
        }
    
    }

}




}